{% extends "base.html" %}
{% load static %}
{% block title %}
  Curso: {{ object.name }}
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <nav aria-label="breadcrumb" class="mt-4">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ object.name }}</li>
          </ol>
        </nav>
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="card">
              <img class="card-img-top"
                   src="{% static 'uploads/courses/default.jpg' %}"
                   alt="Course Image"
                   width="100"
                   height="370" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                {% if object.name %}<h3>{{ object.name }}</h3>{% endif %}
              </div>
              <div class="card-body">
                {% if object.description %}<p>{{ object.description }}</p>{% endif %}

                <div class="row">
                  <div class="col-md-3 col-sm-12">
                    <p>0 Aulas</p>
                  </div>
                  <div class="col-md-3 col-sm-12">
                    <p>0 Módulos</p>
                  </div>
                  <div class="col-md-3 col-sm-12">
                    <p>0 Projetos</p>
                  </div>
                  <div class="col-md-3 col-sm-12">
                    <p>0 Alunos</p>
                  </div>
                </div>
              </div>
              <div class="card-footer text-end">
                <button class="btn btn-primary">Matricular-se</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
