{% extends "base_admin.html" %}
{% load render_table from django_tables2 %}
{% block content %}
    <div class="container mt-5">
        <h1 class="mb-3">Home</h1>
        <div class="row mb-3">
            <div class="col-md-4">
                <form method="get">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               id="{{ filter_form.form.email.id_for_label }}"
                               name="{{ filter_form.form.email.html_name }}"
                               value="{{ filter_form.form.email.value|default_if_none:'' }}">
                        <button type="submit" class="btn btn-primary">Pesquisar</button>
                    </div>
                </form>
            </div>
        </div>
        {% if table %}
            {% render_table table %}
        {% else %}
            <p>Nenhuma tabela para exibir.</p>
        {% endif %}
    </div>
{% endblock content %}
